altair==5.5.0
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
click==8.1.8
folium==0.17.0
fonttools==4.57.0
gitdb==4.0.12
gitpython==3.1.44
geopandas==0.14.3
idna==3.10
jinja2==3.1.6
joblib==1.5.0
jsonschema==4.23.0
matplotlib==3.9.2
mapclassify==2.8.1
numpy==1.26.4  # Alterado de 2.1.0 para 1.26.4 para compatibilidade com geopandas 0.14.3
packaging==24.2
pandas==2.2.2
pillow==10.4.0
pyarrow==17.0.0
pydeck==0.9.1
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.1
scipy==1.15.2
seaborn==0.13.2
shapely>=2.1.0
six==1.17.0
statsmodels==0.14.4
streamlit==1.45.1
tenacity==8.5.0
toml==0.10.2
tornado==6.4.2
typing_extensions==4.12.0
urllib3==2.2.1
webencodings==0.5.1
xyzservices==2023.10.1

